<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Subcategory Page</title>
</head>
<body>

<h1 align="center">Subcategory List</h1>

{% if error_message %}
<div class="error-message">
    {{ error_message }}
</div>
{% endif %}

<center>
    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>Category Name</th>
            <th>Subcategory Name</th>
            <th>Subcategory Description</th>
            <th>Actions</th>
        </tr>

        {% for category in subcategory_vo %}
        <tr>
            <td>{{ category.subcategory_category_vo.category_name }}</td>
            <td>{{ category.subcategory_name }}</td>
            <td>{{ category.subcategory_description }}</td>
            <td>
                <div style="display: inline-block; margin-right: 10px;">
                    <form method="POST" action="/admin_delete_subcategory/">
                        {% csrf_token %}
                        <input type="hidden" name="subcategory_id"
                               value="{{ category.subcategory_id }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <div style="display: inline-block;">
                    <form action="{% url 'admin_edit_subcategory' %}" method="GET">
                        {% csrf_token %}
                        <input type="hidden" name="subcategory_id"
                               value="{{ category.subcategory_id }}">
                        <button type="submit">Edit</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
<br><br>
    <div class="form-buttons">
        <a href="/admin_load_subcategory">
            <button type="button">Add New Subcategory</button>
        </a>
        <a href="/">
            <button type="button">Home Page</button>
        </a>
    </div>
</center>

</body>
</html>
